
@{
    ViewBag.Title = "_NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bodymain">
    <div class="wrapperin">
        <div class="aboutheading">
            <span>Không tìm thấy</span>
        </div>
    </div>
</section>

