@font-face {
    font-family: open_sansregular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open_sansbold;
    src: url(../fonts/open_sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: rokkittregular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot');
    src: url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.woff') format('woff'),
         url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.ttf') format('truetype'),
         url('../fonts/WebSymbolsLiga-Regular/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position:relative;
    font-family: 'open_sansregular';
    left: 0;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
}

.body-out {
    left: -150px;
}

header {
    background-color: #4d3e46;
    height: 95px;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .wrapperin {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .wrapperin {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .wrapperin {
        width: 942px;
    }
}
.wrapperin {
    margin: 0 auto;
    padding-right:15px;
    padding-left: 15px;
}

.logo {
    width: 294px;
    float: left;
    margin-top:5px;
}



.logo-menu-mobile {
    display: none;
    float: right;
    color: white;
    width: 160px;
}

.enquirelink{
    width:110px; 
    border:#fff 1px solid; 
    height:38px; 
    background:#4d3e46; 
    text-align:center; 
    float:left; 
    line-height:40px; 
    margin-top:20px; 
    background:url(../Images/compose.png) no-repeat 10px 10px;
}

    .enquirelink a{
        color:#f6f6f6; 
        text-decoration:none; 
        text-transform:uppercase; 
        padding-left:20px;
    }

.aside-menu-toggler {
    background: transparent url(../Images/aside_menu.jpg) no-repeat 0 center;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 32px;
	height:40px;
	line-height: 40px;
	margin:20px 0 0 0!important;
	overflow: hidden;
	position: relative;
	width:40px;
}

.aside-menu {
    position:fixed;
    width:150px;
    height: 100%;
    right: -150px;
    top: 0px;
    padding-top:15px;
    overflow:auto;
    color:#ccc;
    background-color:#222;
    z-index: 300;
    transition: all 0.5s;
}

.aside-menu-in {
    right:0px;
}

.aside-close {
    position:absolute;
    top:6px;
    right: 6px;
    width: 20px;
    height: 20px;
    background: url(../Images/close-white.png) no-repeat;
    cursor:pointer;
}
    
.logo-menu {
    width: auto;
    float: right;
}
    .logo-menu ul {
        list-style: none;
        padding:0;
        margin: 0 15px 0 0;
        float: left;
    }

    .aside-menu ul {
        width: 150px;
        list-style: none;
        padding:0;
    }
    .aside-menu li {
        text-transform:uppercase;
        border-bottom: #31312e 1px solid;
    }

    .aside-menu li,
    .logo-menu li {
        float: left;
        font-family: open_sansregular!important;
        font-size: 13px;
        padding: 0 6px;
        color: #a99c99;
    }

    .aside-menu li {
        width: 100%;
        padding: 15px;
    }

    .aside-menu li a,
    .logo-menu li a{
        float: left;
        color: #fff;
        text-decoration: none;
    }
        .aside-menu li a:hover,
        .logo-menu li a:hover{
            text-decoration: underline;
        }

    .aside-menu li a:hover,
    .logo-menu li a:active{
        text-decoration: underline;
        font-family: 'open_sansbold';
    }

    .logo-menu li a img{
        vertical-align:middle;
    }

.enquirenow-bg {
    width: 140px;
    float: left;
    height: 43px;
    background: url(../Images/enquirenow-bg.jpg) no-repeat left top;
    text-align: center;
    text-transform: uppercase;
    font-family: 'rokkittregular';
    font-size: 18px;
    line-height: 43px;
    margin-top: -10px;
}

    .enquirenow-bg a {
        color: #fff;
        text-decoration: none;
    }

    .enquirenow-bg a:hover {
        text-decoration: underline;
    }

.floating_menu {
    background-color: #242422;
    height: 44px;
}


nav ul {
    list-style: none;
    float: left;
    margin-top: 15px;
    padding: 0;
}

nav li {
    position: relative;
    float: left;
    font-size: 15px;
    padding: 0 37px;
    color: #a99c99;
    text-transform: uppercase;
    height: 35px;
}

    nav li a{
        float: left;
        color: #fff;
        text-decoration:none;
        border-bottom: #242422 1px solid;
    }

    nav li a:hover{
        color: #fff;
        border-bottom:#cc0000 1px solid; 
        text-decoration:none;
    }

nav ul li ul {
    display: none;
    position: absolute;
    z-index: 9999999;
}

nav ul li:hover ul {
    display: block !important;
    width: 200px;
    position: absolute;
    z-index: 9999999999;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    float: left;
    left: 0;
    top: 29px;
}

.navarrow {
    position: absolute;
    left:45px;
    top: -15px;
    z-index: 9999;
}

nav ul li ul li{
    display: block;
    float: left;
    color: #a9a9a9;
    font-weight: normal;
    font-family: Arial;
    font-size: 15px;
    background: none !important;
    width: 100%;
    padding: 0;
    border-bottom: #e3e3e3 1px solid;
    text-align: left;
    height: auto;
    text-transform: uppercase;
}

    nav ul li ul li a{
        display: block;
        color: #666 !important;
        float: left;
        width: 100%;
        height: auto;
        border-bottom: none !important;
        padding: 13px 3%;
        font-family: Arial;
        font-size: 15px;
        text-transform: uppercase;
    }

    nav ul li ul li a:hover{border:none; background:#e3e3e3; color:#333333;}

.aboutheading {
    width: 100%;
    float: left;
    font-family: 'open_sansregular';
    font-size: 42px;
    font-weight: normal;
    color: #cc0000;
    position: relative;
    margin-top: 30px;
}

    .aboutheading > span,
    .col-my-6 > span
    {
        border-bottom: #000000 3px solid;
        line-height: 55px;
        text-transform: uppercase;
    }

.enquiremain {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
    text-align:justify;
}

    .enquiremain ul {
        list-style: none;
    }

    .enquiremain ul li{
        width: 100%;
        float: left;
        font-size: 14px;
        color: #333;
        font-family: 'open_sansregular';
        background: url(../Images/crc.png) no-repeat left 11px;
        padding: 6px 0 6px 15px;
    }

.enquiremainheading {
    width: 100%;
    float: left;
    color: #333333;
    font-size: 14px;
    font-family: 'open_sansbold';
    padding: 20px 0 10px 0;
}

@media (max-width: 689px) {
    .fly-button {display:none}
    .fly-button-small {display:block !important}
}

.redme {color: #CC0000}

.fly-button-small {
    display:none;
    position:absolute;
    top:-15px;
    right:0;
    font-size:18px;
    text-transform:uppercase;
}

    .fly-button-small a {
        color:#333333; 
        text-decoration:none
    }

    .fly-button-small a:hover {
        text-decoration:underline
    }

.fly-button {
        float:right;
    }

        .closed a{background: url(../Images/close.png) no-repeat right 15px; }
        .return a{background: url(../Images/return.png) no-repeat right 15px; }
        .fly-button a {
            border:1px solid #cccccc; 
            border-radius:5px; 
            color:#333333; 
            display: block; 
            font-family:'rokkittregular'; 
            font-size:18px;  
            padding: 12px 0; 
            text-align: center; 
            width:250px; 
            text-decoration:none; 
            text-transform:uppercase;
        }

            .fly-button a:hover {
                background-color:#f1f1f1;
                text-decoration:underline;
            }

.textbox {
    width: 100%;
    background: #fff;
    border: #e0e0e0 1px solid;
    border-radius: 2px;
    padding: 10px 3%;
    font-size: 12px;
    font-family: 'open_sansregular';
    color: #333;
    margin-bottom: 15px;
    outline: none;
}

    .textbox:hover {
        border: 1px solid #2E2E2E;
    }

.field_error {
    border: 1px solid #BF0000!important;
}

.button {
        width: 300px;
        margin: auto;
    }
        .button a {
            display: block;
            float: left;
            height: 49px;
            width: 264px;
            background: url(../images/redbg.jpg) repeat-x left top;
            font-size: 18px;
            font-family: Arial;
            color: #fff;
            text-transform:uppercase;
            text-decoration: none;
            border-radius:5px;
            margin-top: 15px;
            text-align: center;
            line-height: 49px;
        }

            .button a:hover {
                background: #ca0000;
            }

.action_icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.gridview {
        overflow-x:auto;
        overflow-y:hidden;
    }

    .tableview {
        margin-top:30px;
    }

    .grid-items {
        max-height:200px;
        overflow-y:auto;    
        overflow-x:hidden;
    }

.table_heading {
    font-family: 'open_sansbold';
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
    background: #0099cc;
    border: 3px double #7E9DAD !important;
}

    .table_heading th {
        text-align: center !important;
        padding: 10px 0;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

.table_body td{
    padding: 10px 10px;
    text-align:center;
    border: 1px solid #565C5F;
    word-wrap:break-word;
}

.fakea{
    display: inline-block;
    margin: 10px;
    cursor:pointer;
    text-decoration:none;
}

    .fakea:hover {
        cursor:pointer;
        text-decoration:none;
    }
 
@media only screen and (max-width: 900px) {
    .logo-menu, nav {
        display:none;
    }

    .logo-menu-mobile {
        display: block !important;
    }
}

@media only screen and (max-width: 510px) {
    .logo {
        display:none;
    }

    .aboutheading {
        font-size:30px;
    }
}

@media (min-width: 510px) {
    .col-my-6{
        width:50% !important;
    }
}

@media (min-width: 550px) {
    .course-container {
        width: 525px !important;
    }
}

@media (min-width: 658px) {
    .col-my-3 {
        width:48% !important;
    }
}   

@media (min-width: 992px) {
    .col-my-3 {
        width:31.3333333333333333% !important;
    }

    .course-container {
        width: 800px !important;
    }
}

.col-my-6, .col-my-3 {
    float:left;
}